body {
    background-color: white;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* //aplicar un selector de forma global */

* {
    box-sizing: border-box;
}

.header {
    background-color: bisque;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid #d7d7d7;
}

.header_heading {
    text-align: center;
}

.input {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
}

.button {
    background-color: yellow;
    padding: 10px;
    border: 2px solid #d7d7d7;
    height: 40px;
}

.button:hover {
    background-color: blue;
}

.content-container {
    border: 1px solid#d7d7d7;
    width: 80%;
    position: relative;
    left: 20%;
}

.center-container {
    font-weight: bold;
    text-align: center;
}

.slidebar-style {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    border-right: 1px solid#d7d7d7;
}

.item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    font-weight: bold;
}

.grid-container {
    display: grid;
    /* grid-template-columns: 25% 100%; */
    gap: 1em;
}